/**
 * Fonts
 */

/* Coder's Crux */
@font-face {
  font-family: "launch-menu";
  src: url("assets/fonts/launch-menu/launch-menu.eot");
  src: url("assets/fonts/launch-menu/launch-menu.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/launch-menu/launch-menu.woff2") format("woff2"),
  url("assets/fonts/launch-menu/launch-menu.woff") format("woff"),
  url("assets/fonts/launch-menu/launch-menu.ttf") format("truetype");
}

/**
 * Global Styles
 */
html, body {
  overflow: hidden;
}

.btn {
  box-shadow: none !important;
  border: none !important;
}

/**
 * Launch Screen
 */
 
/* A random background image is set by the launch screen component */
launch-menu-screen {
  display: block;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
}

/* A random hero sprite image is set by the launch screen component */
launch-menu-screen .hero {
  display: block;
  height: 90%;
  width: 50%;
  position: absolute;
  right: 5%;
  bottom: 2%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Container for the main menu buttons */
launch-menu-screen .main-menu {
  position: absolute;
  bottom: 10%;
  left: 4%;
}

/* Main menu screen buttons */
launch-menu-screen .btn-1 {
  display: block !important;
  width: 180px;
  height: 40px;
  zoom: 1.8;
}

launch-menu-screen .btn-2 {
  width: 120px;
  height: 40px;
  zoom: 0.8;
}

/* Shift the button backgrounds when hovered */
launch-menu-screen .btn-1:hover,
launch-menu-screen .btn-1:focus {
  background-position: 0px 200px;
}

launch-menu-screen .btn-2:hover,
launch-menu-screen .btn-2:focus {
  background-position: 120px 0px;
}

/* Main menu screen buttons */
launch-menu-screen .create-account {
  background-image: url("assets/ui/launch/buttons/create-account.png");
}

launch-menu-screen .play-game {
  background-image: url("assets/ui/launch/buttons/play-game.png");
}

launch-menu-screen .view-credits {
  background-image: url("assets/ui/launch/buttons/view-credits.png");
}

launch-menu-screen .connect {
  background-image: url("assets/ui/launch/buttons/connect.png");
}

launch-menu-screen .cancel {
  background-image: url("assets/ui/launch/buttons/cancel.png");
}

/* This panel shows the play game login controls */
launch-menu-screen .play-game-panel {
  width: 320px;
  height: 159px;
  display: block;
  position: absolute;
  right: 10%;
  bottom: 10%;
  background-image: url(assets/ui/launch/panels/play-game.bmp);
  zoom: 1.6;
}

/* Container for the play game panel buttons */
launch-menu-screen .play-game-panel .buttons {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

/* Input control styling for the launch screen panel */
launch-menu-screen .play-game-panel input {
  background: #a58169;
  font-size: 16px;
  padding: 1px 5px 0px;
  border: 1px solid #3e311d;
  border-radius: 2px;
  outline: none;
  display: block;
  font-family: "launch-menu", sans-serif;
  line-height: 17px;
  box-shadow: 1px 1px 1px 0px inset #845d2e;
  color: #1b1b1b;
  position: absolute;
}

/* Game game (login) inputs positioning */
launch-menu-screen .play-game-panel .input-user {
  right: 10%;
  top: 23%;
}

launch-menu-screen .play-game-panel .input-pass {
  right: 10%;
  top: 46%;
}
