/**
 * Fonts
 */

/* Coder's Crux */
@font-face {
  font-family: "launch-menu";
  src: url("assets/fonts/launch-menu/launch-menu.eot");
  src: url("assets/fonts/launch-menu/launch-menu.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/launch-menu/launch-menu.woff2") format("woff2"),
  url("assets/fonts/launch-menu/launch-menu.woff") format("woff"),
  url("assets/fonts/launch-menu/launch-menu.ttf") format("truetype");
}

/**
 * Global Styles
 */
html, body {
  overflow: hidden;
}

.btn {
  box-shadow: none !important;
  border: none !important;
}

::selection {
  background: #7d5521;
  color: lightgoldenrodyellow;
}

/**
 * Launch Screen
 */
 
/* A random background image is set by the launch screen component */
launch-menu-screen {
  display: block;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
}

/* Input control styling for the launch screen inputs */
launch-menu-screen input {
  background: #a58169;
  font-size: 16px;
  padding: 1px 5px 0px;
  border: 1px solid #3e311d;
  border-radius: 2px;
  outline: none;
  display: block;
  font-family: "launch-menu", sans-serif;
  line-height: 17px;
  box-shadow: 1px 1px 1px 0px inset #845d2e;
  color: #1b1b1b;
  position: absolute;
  caret-color: #7d5521;
}

/* A random hero sprite image is set by the launch screen component */
launch-menu-screen .hero {
  display: block;
  height: 90%;
  width: 50%;
  position: absolute;
  right: 5%;
  bottom: 2%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* The hero sprite image is shifted left if registering */
launch-menu-screen .hero.shift-left {
  right: unset;
  left: 5%;
  height: 65%;
}

/* Container for the main menu buttons */
launch-menu-screen .main-menu {
  position: absolute;
  bottom: 10%;
  left: 4%;
}

/* Main menu screen buttons */
launch-menu-screen .btn-1 {
  display: block !important;
  width: 180px;
  height: 40px;
  zoom: 1.8;
}

launch-menu-screen .btn-2 {
  width: 120px;
  height: 40px;
  zoom: 0.8;
}

launch-menu-screen .btn-3 {
  width: 91px;
  height: 29px;
}

/* Shift the button backgrounds when hovered */
launch-menu-screen .btn-1:hover,
launch-menu-screen .btn-1:focus {
  background-position: 0px 200px;
}

launch-menu-screen .btn-2:hover,
launch-menu-screen .btn-2:focus {
  background-position: 120px 0px;
}

launch-menu-screen .btn-3:hover,
launch-menu-screen .btn-3:focus {
  background-position: 91px 0px;
}

launch-menu-screen .back-corner:hover,
launch-menu-screen .back-corner:focus {
  background-position: 0px 100%;
}

/* Main menu screen buttons */
launch-menu-screen .create-account {
  background-image: url("assets/ui/launch/buttons/create-account.png");
}

launch-menu-screen .play-game {
  background-image: url("assets/ui/launch/buttons/play-game.png");
}

launch-menu-screen .view-credits {
  background-image: url("assets/ui/launch/buttons/view-credits.png");
}

launch-menu-screen .connect {
  background-image: url("assets/ui/launch/buttons/connect.png");
}

launch-menu-screen .cancel {
  background-image: url("assets/ui/launch/buttons/cancel.png");
}

launch-menu-screen .ok {
  background-image: url("assets/ui/launch/buttons/ok.png");
}

launch-menu-screen .create {
  background-image: url("assets/ui/launch/buttons/create.png");
}

launch-menu-screen .back-corner {
  background-image: url("assets/ui/launch/buttons/back-corner.png");
  background-clip: padding-box;
  background-size: 100% 200%;
  width: 8.1%;
  height: 11%;
  position: fixed;
  right: 0px;
  top: 0px;
}

/* This panel shows the play game login controls */
launch-menu-screen .play-game-panel {
  width: 320px;
  height: 159px;
  display: block;
  position: absolute;
  right: 10%;
  bottom: 10%;
  background-image: url(assets/ui/launch/panels/play-game.bmp);
  zoom: 1.6;
}

/* Container for the play game panel buttons */
launch-menu-screen .play-game-panel .buttons {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

/* Game game (login) inputs positioning */
launch-menu-screen .play-game-panel .input-user {
  right: 10%;
  top: 23%;
}

launch-menu-screen .play-game-panel .input-pass {
  right: 10%;
  top: 46%;
}

/* This panel shows the create account controls */
launch-menu-screen .create-account-panel {
  width: 40%;
  height: 80%;
  display: block;
  position: absolute;
  right: 5%;
  top: 5%;
  zoom: 1.6;
  background: none;
}

/* Create account panel inputs are full-width */
launch-menu-screen .create-account-panel input {
  width: 100%;
  position: unset;
}

/* Spacer to separate the two sections of the create account panel */
launch-menu-screen .create-account-panel .form-spacer {
  margin-top: 5%;
}

/* Container for the create account panel buttons */
launch-menu-screen .create-account-panel .buttons {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

/* This panel shows a note to the user */
launch-menu-screen .note-panel {
  width: 290px;
  height: 157px;
  display: block;
  position: absolute;
  right: calc(50% - 145px);
  bottom: calc(50% - 78px);
  background-image: url(assets/ui/launch/panels/note.bmp);
  zoom: 1.6;
}

/* Note title text display */
launch-menu-screen .note-panel .title-text {
  font-family: "launch-menu";
  font-size: 18px;
  color: #eeeec5;
  position: absolute;
  top: 12%;
  left: 25%;
}

/* Note title message display */
launch-menu-screen .note-panel .title-message {
  font-family: "launch-menu";
  font-size: 18px;
  line-height: 17px;
  color: #eeeec5;
  position: absolute;
  top: 40%;
  left: 6%;
}

/* Note panel button positioning */
launch-menu-screen .note-panel .btn {
  position: absolute;
  right: 6%;
  bottom: 10%;
}
