/**
 * Global Styles
 */
html, body {
  overflow: hidden;
}

.btn {
  box-shadow: none !important;
  border: none !important;
}

/**
 * Launch Screen
 */
 
/* A random background image is set by the launch screen component */
launch-menu-screen {
  display: block;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
}

/* A random hero sprite image is set by the launch screen component */
launch-menu-screen .hero {
  display: block;
  height: 90%;
  width: 50%;
  position: absolute;
  right: 5%;
  bottom: 2%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Container for the main menu buttons */
launch-menu-screen .main-menu {
  position: absolute;
  bottom: 10%;
  left: 4%;
}

/* A main menu screen button */
launch-menu-screen .btn {
  display: block;
  width: 180px;
  height: 40px;
  zoom: 1.8;
}

/* Shift the button background when hovered */
launch-menu-screen .btn:hover,
launch-menu-screen .btn:focus {
  background-position: 0px 200px;
}

/* Main menu screen buttons */
launch-menu-screen .create-account {
  background-image: url("assets/ui/launch/buttons/create-account.png");
}

launch-menu-screen .play-game {
  background-image: url("assets/ui/launch/buttons/play-game.png");
}

launch-menu-screen .view-credits {
  background-image: url("assets/ui/launch/buttons/view-credits.png");
}