<!-- This displays the active hero image -->
<div class="hero"></div>

<!-- Displays the main menu -->
<div class="main-menu">
  <button (click)="hideActivePanel(); showNoServer()" class="btn btn-1 create-account"></button>
  <button (click)="showPanel('play-game')" class="btn btn-1 play-game"></button>
  <button (click)="showCredits()" class="btn btn-1 view-credits"></button>
</div>

<!-- Displays the play game menu (login) panel -->
<div [ngClass]="{ 'invisible': (activePanel !== 'play-game') }" class="play-game-panel">

  <!-- Username and password input -->
  <input class="input-user" spellcheck="false">
  <input type="password" class="input-pass">

  <!-- Panel buttons -->
  <div class="buttons">
    <button (click)="showNoServer()" class="btn btn-2 connect"></button>
    <button (click)="hideActivePanel()" class="btn btn-2 cancel"></button>
  </div>
</div>

<!-- Displays a note to the user -->
<div [ngClass]="{ 'invisible': (! activeNote) }" class="note-panel">

  <!-- Note title text -->
  <div class="title-text">{{ this.activeNote.title }}</div>

  <!-- Note message text -->
  <div class="title-message">{{ this.activeNote.message }}</div>

  <!-- Okay button to close the note panel -->
  <button (click)="clearNote()" class="btn btn-3 ok"></button>
</div>
